<template>
  <div>
  <section class="destination">
    <h1 v-if="destination">{{ destination.name }}</h1>
    <Goback />
    <div class="destination-details">
      <img v-if="destination" 
        :src="`../../public/images/${destination.image}`" 
        :alt="destination.name" />
      <p v-if="destination">{{ destination.description }}</p>
    </div>
  </section>
  <section class="experiences">
    <h2>Top Experiences in {{ destination.name }}</h2>
    <div class="cards">
      <router-link 
        v-for="experience in destination.experiences" 
        :key="experience.slug" 
        :to="{name: 'experience.show', params: { experienceSlug: experience.slug }}"
      >
        <ExperienceCard :experience="experience" />
      </router-link>
    </div>
    <router-view></router-view>
  </section>
  </div>
</template>

<script setup>
import { computed } from "vue";
import sourceData from "../data.json";
import { defineProps } from "vue";
import ExperienceCard from "../components/ExperienceCard.vue";
import Goback from "../components/GoBack.vue";

const props = defineProps({
  id: {
    type: Number,
    required: true,
  },
});

const destination = computed(() => {
  return sourceData.destinations.find(
    (destination) => destination.id === props.id
  );
});
</script>
