<script setup>
import { ref } from "vue";
import sourceData from "../data.json";


const destinations = ref(sourceData.destinations);

</script>


<template>
  <div class="Home">
    <h1>All destinations</h1>
    <div class="destinations">
      <router-link 
        v-for="destination in destinations" 
        :key="destination.id" 
        :to="{name: 'Destination', params:{id:destination.id, slug: destination.slug}}">
        <h2>{{ destination.name }}</h2>
        <img :src="`../../public/images/${destination.image}`" :alt="destination.name" />
      </router-link>
    </div>
  </div>
</template>
