<script setup>
import { defineProps } from 'vue'

const props = defineProps({
  experience: {
    type: Object,
    required: true
  }
})
</script>

<template>
  <div class="card">
    <img :src="`../../public/images/${experience.image}`" :alt="experience.name" />
    <span class="card__text">{{ experience.name }}</span>
  </div>
</template>
