<script setup>

import { ref } from "vue";
import sourceData from "../data.json";
const destinations = ref(sourceData.destinations);

</script>

<template>
  <div id="nav">
    <AppLink id="logo" to="/">Home</AppLink>
    <AppLink 
      v-for="destination in destinations" 
      :key="destination.id" 
      :to="{name: 'Destination', params:{id:destination.id, slug: destination.slug}}"> 
      {{ destination.name }}
    </AppLink>
    <AppLink :to="{name: 'Protected'}">Dashboard</AppLink>
    <AppLink to="https://vueschool.io">Vue School</AppLink>
  </div>
</template>
