/* :root { */
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
/*   line-height: 1.5; */
/*   font-weight: 400; */
/*  */
/*   color-scheme: light dark; */
/*   color: rgba(255, 255, 255, 0.87); */
/*   background-color: #242424; */
/*  */
/*   font-synthesis: none; */
/*   text-rendering: optimizeLegibility; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/*   -webkit-text-size-adjust: 100%; */
/* } */
/*  */
/* a { */
/*   font-weight: 500; */
/*   color: #646cff; */
/*   text-decoration: inherit; */
/* } */
/* a:hover { */
/*   color: #535bf2; */
/* } */
/*  */
/* a { */
/*   font-weight: 500; */
/*   color: #646cff; */
/*   text-decoration: inherit; */
/* } */
/* a:hover { */
/*   color: #535bf2; */
/* } */
/*  */
/* body { */
/*   margin: 0; */
/*   display: flex; */
/*   place-items: center; */
/*   min-width: 320px; */
/*   min-height: 100vh; */
/* } */
/*  */
/* h1 { */
/*   font-size: 3.2em; */
/*   line-height: 1.1; */
/* } */
/*  */
/* button { */
/*   border-radius: 8px; */
/*   border: 1px solid transparent; */
/*   padding: 0.6em 1.2em; */
/*   font-size: 1em; */
/*   font-weight: 500; */
/*   font-family: inherit; */
/*   background-color: #1a1a1a; */
/*   cursor: pointer; */
/*   transition: border-color 0.25s; */
/* } */
/* button:hover { */
/*   border-color: #646cff; */
/* } */
/* button:focus, */
/* button:focus-visible { */
/*   outline: 4px auto -webkit-focus-ring-color; */
/* } */
/*  */
/* .card { */
/*   padding: 2em; */
/* } */
/*  */
/* #app { */
/*   max-width: 1280px; */
/*   margin: 0 auto; */
/*   padding: 2rem; */
/*   text-align: center; */
/* } */
/*  */
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */


*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 150px;
  background: #eee;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a,
a:visited {
  color: #2c3e50;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}

/* Home */
.home img {
  max-width: 230px;
}
.home .destinations {
  display: flex;
  justify-content: space-between;
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 30px;
  background: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #4e6c71;
  z-index: 2;
}
#nav a {
  display: inline-block;
  margin-right: 20px;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}
#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
}
#logo {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 1 !important;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Destination Details */
.destination-details {
  display: flex;
  gap: 30px;
  align-items: center;
}
.destination-details img {
  border-radius: 4px;
  border: 3px solid white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*Experiences*/
.experiences {
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 30px;
  border-top: 1px solid #d4d4d4;
  box-shadow: 0px -1px #fbfbfb;
}
.experiences .card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s ease transform;
}
.experiences .card:hover {
  transform: scale(1.05);
}
.experiences .cards {
  display: flex;
  gap: 20px;
  text-align: center;
}
.experiences img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  display: block;
}
.experiences .card .card__text {
  background: #2c3e50;
  color: white;
  display: block;
  border-top: 2px solid #4e6c71;
  padding: 10px;
}

.experience-details img {
  float: left;
  margin: 10px;
}

/*Modal Overlay*/
.modal-overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.modal-overlay-content {
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 300px;
  max-width: 800px;
  background: white;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px;
  font-size: 1.4rem;
}

.go-back {
  display: inline-block;
  margin-bottom: 15px;
}
/* Form */
.form{
  display:flex;
  flex-direction: column;
  max-width:400px;
  margin: 0 auto;
}

.input{
  border: 1px solid gray;
  padding: 10px;
  margin-bottom:20px;
  border-radius:5px;
}

.btn{
  background-color:#2c3e50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
}
